.WeatherUpdatesRow {
  height: 75%;
  position: relative;
  top: 2em;
  padding-top: 3.5em;
}

.WeatherUpdatesRow .searchBar {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.WeatherUpdatesRow .cloudIcon {
  position: relative;
  width: 38%;
  margin: 0.5em auto 1.5em auto;
  display: block;
}

.weatherUpdatesTitle {
  font-size: 1.15em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 38%;
  margin: 0.5em auto 1.5em auto;
  display: block;
}

.weatherNotificationWrapper {
  width: 38%;
  margin: 0 auto;
  display: block;
  height: 70vh;
  overflow: auto;
}

.weatherNotification {
  margin-bottom: 3em;
  word-wrap: break-word;
}

.weatherNotification .groupLocationTime {
  text-align: left;
  position: relative;
}

.weatherNotification .groupLocationTime .location {
  font-size: 0.7em;
  color: #555555;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  text-align: left;
}

.weatherNotification .groupLocationTime .outageTime {
  text-align: left;
  font-size: 0.7em;
  color: #5a5a5a;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.weatherWarning {
  font-size: 1em;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 15px;
  margin: 0;
}

.weatherNotification .description {
  font-size: 0.85em;
  margin: 0;
  margin-top: 5px;
  text-align: left;
  font-weight: 300;
  line-height: 1.5em;
}

.WeatherUpdatesRow .outagesNav {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: 10%;
  text-align: right;
  display: block;
  color: #3d3d3d;
}

.WeatherUpdatesRow .outagesNav .homeIcon {
  display: block;
  margin-left: auto;
}

.WeatherUpdatesRow .outagesNav .homeIcon a {
  color: #3d3d3d;
  transition: 0.2s;
}

.WeatherUpdatesRow .outagesNav .homeIcon a:hover {
  color: rgb(94, 94, 94);
}

.WeatherUpdatesRow .outagesNav .arrowWrapper {
  margin-top: 1em;
  margin-right: 0.2em;
  transition: 0.2s;
}

.WeatherUpdatesRow .outagesNav .arrowWrapper a {
  color: #3d3d3d;
  transition: 0.2s;
}

.WeatherUpdatesRow .outagesNav .arrowWrapper a:hover {
  color: rgb(94, 94, 94);
}

.WeatherUpdatesRow .outagesNav .arrowWrapper .arrowIcon {
  display: inline-block;
}

.WeatherUpdatesRow .outagesNav .arrowWrapper .arrowText {
  font-size: 0.9em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  padding-right: 1em;
}