.App {
  height: 99.4%;
  margin: 0;
  padding: 0;
}

.HomeMain {
  /* background-color: aqua; */
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
  padding-top: 3em;
  box-sizing: border-box;
  /* display: inline-block; */
}

.HomeNotifications {
  /* background: yellow; */
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
  padding-top: 3em;
  box-sizing: border-box;
  /* display: inline-block; */
}
