.OutageRow {
  height: 50%;
  padding-right: 3em;
  padding-top: 1em;
  box-sizing: border-box;
}

.OutageRow .titleWrapper {
  position: relative;
}

.OutageRow .titleWrapper .mainTitle {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 6%;
}

.boltIcon {
  color: #FFD227;
  position: absolute;
  right: 0;
  top: 1em;
}

.outagesWrapper {
  height: 65%;
  overflow: scroll;
}

.SideNotification:last-child {
  margin-bottom: 0;
}

.OutageRow .viewAll {
  margin-top: 3em;
}

