.OutageRow {
  height: 50%;
  padding-right: 3em;
  padding-top: 2em;
  box-sizing: border-box;
}

.OutageRow .titleWrapper {
  position: relative;
}

.OutageRow .titleWrapper .mainTitle {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 6%;
}

.boltIcon {
  color: #FFD227;
  position: absolute;
  right: 0;
  top: 1em;
}

.OutageNotification {
  font-size: 1em;
  margin-bottom: 10%;
}

.OutageNotification .time {
  font-size: 0.8em;
  color: #5c5c5c;
  text-align: left;
  display: inline-block;
}

.OutageNotification .office {
  font-size: 1em;
  color:white;
}

.OutageNotification .location {
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: left;
  color: gray;
  position: absolute;
  left: 0;
  display: inline-block;
  font-weight: bold;
  margin-top: 0.3em;
}

.OutageRow .viewAll {
  padding-top: 2em;
}

