.outageRisk {
  font-size: 0.7em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5em;
  border-right: #FFFFFF solid 1px;
  padding-right: 10px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.outageRisk .title {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}

.riskNone, .riskLow, .riskMedium, .riskHigh {
  line-height: 1.7em;
}

.outageRisk .riskNone {
  color: #A4E6A2;
}

.outageRisk .riskLow {
  color: #FBF25A;
}

.outageRisk .riskMedium {
  color: #FEB535;
}

.outageRisk .riskHigh {
  color: #FF6969;
}

.reportBtn {
  position: absolute;
  right: 7%;
  bottom: 5%;
}

.searchBar {
  position: absolute;
  left: 5%;
  top: 5%;
}

.BubbleChart {
  position: absolute;
  left: 10%;
  top: 10%;
}