.OutageRow {
  position: relative;
  top: 4.6%;
  height: auto;
  padding-right: 3em;
}

.OutageRow .titleWrapper {
  position: relative;
}

.mainTitle {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 6%;
}

.boltIcon {
  color: #FFD227;
  position: absolute;
  right: 0;
  top: 1em;
}

.UserOutageNotification {
  font-size: 1em;
  margin-bottom: 10%;
}

.UserOutageNotification .time {
  font-size: 0.8em;
  color: #5c5c5c;
  text-align: left;
  display: inline-block;
}

.UserOutageNotification .office {
  font-size: 1em;
  color:white;
}

.UserOutageNotification .location {
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: left;
  color: gray;
  position: absolute;
  left: 0;
  display: inline-block;
  font-weight: bold;
  margin-top: 0.3em;
}

