/* .mainTitle {
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
   

  } */
.location {
    font-size: 10px;
    color: #39393d;

    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: left;   
}
/* .time { 
    text-align: left;
    font-size: 10px;
    color: #39393d;
    position: relative; 
    margin-right: 40em;
}*/

.stateFarmLocation {
 
    text-align: left;
    margin-bottom: 20px;
    margin-top: 15px;
}
.description {
    margin: 0;
    text-align: left;
}
.outageNotifications {
    margin-bottom: 100pt;
    padding-left: 10px;
    word-wrap: break-word;
    height: 80%;  
}

.groupLocationTime {
    
    text-align: left;
    position: relative;  
}

.wrapNotification {

    text-align: center;
    margin-left: 150pt;
}






 