.App {
  height: 99.4%;
  margin: 0;
  padding: 0;
}

.HomeMain {
  /* background-color: aqua; */
  width: 70%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.HomeNotifications {
  /* background: yellow; */
  width: 30%;
  height: 100%;
  display: inline-block;
}
