html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;

  font-family: 'Montserrat', sans-serif;
  color: white;
}
  


#root {
  height: 100%;
  width: 100%;
}

